*.swp
*.swo
*.o
*.a
*.dSYM
*.so
*.dylib
*.pyc
*~
/config.*
/aclocal.m4
/autom4te.cache/
/makefile.inc
/bin/
/c_api/bin/
/c_api/gpu/bin/
/tests/test
/tests/gtest/
faiss/python/swigfaiss_avx2.swig
.idea/
.qtc_clangd/
build/
cmake-build-debug/
data/
faiss.creator.user
indices/

